{% extends "layouts/base.html" %}

{% block content %}
<div class="page-header">
    <h1>Search</h1>
    <p>This is my search page.</p>
    <body background="http://data.whicdn.com/images/240759760/large.png"</body>
    <form class="form-inline">
        <div class="form-group">
            <label class="sr-only" for="hashtag">Hashtag</label>
            <input type="text" class="form-control" id="hashtag" placeholder="#nyot">
        </div>
    </form>
    
    <h4>Search Results (172)</h4>
    <div class="panel panel-default">
    <div class="panel-body">
        Basic Panel
    </div>
    </div>
    
</div>
{% endblock %}