{% extends "layouts/base.html" %}

{% block content %}
  <div class="jumbotron">
    <h1> Two plus two equals five. "Who controls the past controls the future. Who controls the present controls the past." -George Orwell, 1984</h1>
    <p class="lead"> Though this quote famously written by Orwell was used in description of a dystopian society, it still holds to be true in a different sense of the world today. I am Kamilah Nur, and I am a resident of both the Brownsville and Bedstuy neightborhoods of Brooklyn New York. Growing up, I always wondered how my position in life decided my fate, including how much control I would have over my own life. As a consequence to this, i decided to put myself in a position where nobody will have any power over my well-being. As George Orwell says, someone who is in a position of control has the ability to change the world around them and make others have a new outlook on life. That is a position I always want to be in.</p>
    <body background="http://data.whicdn.com/images/239981876/large.gif">
      <p class="lead"> This experience with NYOT helps me to make sure that not only myself, but other members of the program will be in charge of our own future and can change the world as we know it. #Futureleaders #C02016 #PROMJUNE1ST #NOVEMBER16TH #ALMOSTLEGAL</p>
    </body>
      

    
   
  </div>
{% endblock %}
